@import url("components/container.css");
@import url("components/card.css");
@import url(components/banner.css);

body h1 {
  color: red;
  /*background-color: blue;*/
}

p {
  color: grey;
  font-size: 25px;
  padding: 4px;
}

ol {
  font-size: 20px;
}

img {
  height: 300px;
  width: 400px;
}

.btn-primary-1 {
    display: inline-block;
    background-color: lightblue;
    padding: 16px 36px;
    border-radius: 50px;
    margin-top: 5px;
    color: blue;
}

.btn-primary-2 {
    display: inline-block;
    background-color: grey;
    padding: 16px 36px;
    border-radius: 50px;
    color: white;
}
