@import url("components/container.css")
@import url("components/card.css")

body h1 {
  color: red;
  background-color: blue;
}

p {
  color: green;
  font-size: 40px;
  padding: 4px;
}

ol {
  font-size: 30px;
}

img {
  height: 300px;
  width: 400px;
}

.btn-primary {
    display: inline-block;
    background-color: #1EDD88;
    padding: 16px 36px;
    border-radius: 50px;
    color: white;
}
