.banner {
    padding: 250px 0;
    background-size: cover;
    background-position: center;
}

.banner h1 {
  color: white;
  background-color: none;
  font-size: 50px;
  margin: 0;
}

.banner p {
  color: blue;
  margin: 0;
}
